<a href="controller.php?practice_settings&{$TOP_ACTION}laboratory&action=edit" {php} if (!$GLOBALS['concurrent_layout']) echo "target='Main'"; {/php} onclick="top.restoreSession()" class="css_button" >
<span>{xl t='Add a Laboratory'}</span></a><br>
<br>
<table cellpadding="1" cellspacing="0" class="showborder">
	<tr class="showborder_head">
		<th width="140px"><b>{xl t='Name'}</b></th>
	</tr>
	{foreach from=$ilaboratories item=laboratory}
	<tr height="22">
		<td><a href="{$CURRENT_ACTION}action=edit&id={$laboratory->id}" onsubmit="return top.restoreSession()">{$laboratory->get_laboratory_name()}&nbsp;</a></td>
	</tr>
	{foreachelse}
	<tr class="center_display">
		<td colspan="3">{xl t='No Laboratories Found'}</td>
	</tr>
	{/foreach}
</table>
